In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
# Load Purnima's Wikipedia-scrapped list of movies adapted from science fiction books:

adapted_books = pd.read_csv('input csv/newmovielist.csv', encoding='utf8')['Film Name']
adapted_books = list(adapted_books)
adapted_books = [re.split(r'\s{2,}', s.strip())[0] for s in adapted_books]
adapted_books

['Around the World in Eighty Days',
 'Body Snatchers',
 'Frankenstein',
 'The Invisible Man',
 'Journey to the Center of the Earth',
 'The Mysterious Island',
 'Nineteen Eighty-Four',
 'Planet of the Apes',
 'Twenty Thousand Leagues Under the Sea',
 'Village of the Damned',
 'The War of the Worlds',
 'Witch Mountain',
 'The 5th Wave',
 'The 27th Day',
 '2010: The Year We Make Contact',
 '20,000 Leagues Under the Sea',
 'Action Replayy',
 'Aelita',
 'Altered States',
 'Amphibian Man',
 'The Andromeda Nebula',
 'The Andromeda Strain',
 'Anna to the Infinite Power',
 'Annihilation',
 'Atlas Shrugged',
 'Atlas Shrugged: Part I',
 'Atlas Shrugged: Part II',
 'Atlas Shrugged Part III: Who Is John Galt?',
 'Atragon',
 'Babylon A.D.',
 'Battle Royale',
 'Battlefield Earth',
 'The Beastmaster',
 'Bicentennial Man',
 'Bill, the Galactic Hero',
 'Bird Box',
 'Blackbirds at Bangpleng',
 'Blueprint',
 'The Boys from Brazil',
 'Brave New World',
 "Buddha's Little Finger",
 "By Dawn's Early Light",
 'Carnosaur',
 'Cell',
 'Chaos Walking',
 'Charly',
 'Charodei',
 'Children of Men',
 'Children of the Damned',
 'The Circle',
 'City of Ember',
 'A Clockwork Orange',
 'Cloud Atlas',
 'Cocoon',
 'Colossus: The Forbin Project',
 'Congo',
 'The Congress',
 'Conquest of Space',
 'Contact 1997 American',
 'Countdown',
 'Damnation Alley',
 'Dandelion Wine',
 'Dark Planet',
 'The Darkest Minds',
 'The Day of the Dolphin',
 'The Day of the Triffids',
 'Days of Eclipse',
 "Dead Mountaineer's Hotel",
 'Deathlands: Homeward Bound',
 'Deluge',
 'Demon Seed',
 'Destination Moon',
 'List of adaptations of works by Philip K. Dick',
 'Divergent',
 'The Divergent Series: Allegiant',
 'The Divergent Series: Insurgent',
 'Dreamscape',
 'Dune',
 'Eagle Eye',
 'Earth vs. the Flying Saucers',
 'Edge of Tomorrow',
 'The End of Eternity',
 "Ender's Game",
 'Escape to Witch Mountain',
 'F.P.1',
 'The Face of Another',
 'Fahrenheit 451',
 'Fantastic Planet',
 'Fatherland',
 'The Final Programme',
 'Four Sided Triangle',
 'Freejack',
 'The Girl Who Leapt Through Time',
 'The Girl with All the Gifts',
 'The Giver',
 'The Gladiator',
 'Goldengirl',
 'Gor',
 'Guest from the Future',
 "The Handmaid's Tale",
 'Hard to Be a God',
 'Harrison Bergeron',
 'The High Crusade',
 "The Hitchhiker's Guide to the Galaxy",
 'The Host',
 'The Hunger Games',
 'I Am Legend',
 'I Am Number Four',
 'I Am Omega',
 'In Search of the Castaways',
 'The Incredible Shrinking Man',
 'The Incredible Shrinking Woman',
 'The Iron Giant',
 'The Iron Heel',
 'The Iron Heel of Oligarchy',
 'The Island at the Top of the World',
 'Jumper',
 'Jurassic Park',
 'K-PAX',
 'Kamikaze 1989',
 'The Land That Time Forgot',
 'The Last Man on Earth',
 'Lathe of Heaven',
 'The Lathe of Heaven',
 'Lifeforce',
 "Logan's Run",
 'Lorelei: The Witch of the Pacific Ocean',
 'The Lost World: Jurassic Park',
 'Les Maîtres du temps',
 'The Man Who Fell to Earth',
 'Marooned',
 'The Martian',
 'The Maze Runner',
 'Maze Runner: The Death Cure',
 'Maze Runner: The Scorch Trials',
 'The Meg',
 'Memoirs of an Invisible Man',
 'Metropolis',
 'Millennium',
 'Mission Stardust',
 'Mortal Engines',
 'Mr. Murder',
 'Never Let Me Go',
 'Night of the Big Heat',
 'Night of the Lepus',
 'Oasis',
 'The Omega Man',
 'On the Silver Globe',
 'Panic in Year Zero!',
 'Paprika',
 'Parasite Eve',
 'The People That Time Forgot',
 'The Postman',
 'The Power',
 'The Prestige',
 'Princess of Mars',
 "Professor Dowell's Testament",
 'Project X',
 'Pursuit',
 'The Quiet Earth',
 'Radio Free Albemuth',
 'Ready Player One',
 'Return from Witch Mountain',
 'Revenge of the Stepford Wives',
 'Riverworld',
 'Riverworld',
 'The Road',
 'The Running Man',
 'The Satan Bug',
 'Sayonara Jupiter',
 'A Scanner Darkly',
 'Skullduggery',
 'Slapstick of Another Kind',
 'Slaughterhouse-Five',
 'Solar Crisis',
 'Solaris',
 'Soldier',
 'Solo',
 'Somewhere in Time',
 'La Soupe aux choux',
 'Soylent Green',
 'Stalker',
 'Starship Troopers',
 'The Stepford Children',
 'The Stepford Husbands',
 'The Stepford Wives',
 'The Strange World of Planet X',
 'The Subterraneans',
 'The Damned',
 'They Came from Beyond Space',
 'The Thing',
 'The Thirteenth Floor',
 'This Island Earth',
 'The Three-Body Problem',
 'The Time Machine',
 "The Time Traveler's Wife",
 'Timeline',
 'Timescape',
 'À ton image',
 'A Trip to the Moon',
 'The Tunnel Under the World',
 'The Two Worlds of Jennie Logan',
 'The Ugly Swans',
 'Village of the Damned',
 'Village of the Giants',
 'Vinyl',
 'Virus',
 'We',
 'When Worlds Collide',
 'Woman in the Moon',
 'World on a Wire',
 'The World, the Flesh and the Devil',
 'A Wrinkle in Time',
 'Z for Zachariah']

In [10]:

books = pd.read_csv('input csv/booklist_ratings.csv', encoding='utf8')
books = books[['books','rating','average_votes']]
print(books.shape)
books.head()

(194, 3)

                                               books  rating  average_votes
0  Around the World in Eighty Days (Extraordinary...    3.92         156095
1                     Invasion of the Body Snatchers    3.89          17372
2                                       Frankenstein    3.77         992097
3                                      Invisible Man    3.85         139953
4  Journey to the Center of the Earth (Extraordin...    3.85         126361

In [13]:
movies = pd.read_csv('Transformed_data/CombinedDF.csv', encoding='utf8')
movies = movies[['Title','Movie Rating', 'Book Rating','Movie Revenue']]
print(movies.shape)
movies.head()

(214, 4)

,Title,Movie Rating,Book Rating,Movie Revenue
0,around the world in eighty days,7.8,NaN,NaN
1,body snatchers,5.9,NaN,NaN
2,frankenstein,7.9,3.77,NaN
3,the invisible man,7.7,NaN,NaN
4,journey to the center of the earth,5.8,NaN,NaN

In [17]:
movie_and_rating = movies[['Title', 'Movie Rating']].dropna()
print(movie_and_rating.shape)
movie_and_rating.head()

(186, 2)

                                Title  Movie Rating
0     around the world in eighty days           7.8
1                      body snatchers           5.9
2                        frankenstein           7.9
3                   the invisible man           7.7
4  journey to the center of the earth           5.8

In [21]:
movie_and_rating.to_csv('input csv/movies_and_ratings.csv', encoding='utf8', index=False)