In [46]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import json
import os

In [47]:
file_to_load = "newmovielist.csv"

# Read Purchasing File and store into Pandas data frame
movie_data = pd.read_csv(file_to_load)
movie_data

                                      Film Name
0               Around the World in Eighty Days
1                               Body Snatchers
2                                  Frankenstein
3                             The Invisible Man
4            Journey to the Center of the Earth
5                         The Mysterious Island
6                          Nineteen Eighty-Four
7                           Planet of the Apes
8         Twenty Thousand Leagues Under the Sea
9                        Village of the Damned
10                        The War of the Worlds
11                              Witch Mountain
12                                The 5th Wave
13                                 The 27th Day
14               2010: The Year We Make Contact
15                20,000 Leagues Under the Sea
16                               Action Replayy
17                                       Aelita
18                               Altered States
19                                Amphibian Man
20                         The Andromeda Nebula
21                        The Andromeda Strain
22                   Anna to the Infinite Power
23                                Annihilation
24                       Atlas Shrugged  series
25                       Atlas Shrugged: Part I
26                      Atlas Shrugged: Part II
27   Atlas Shrugged Part III: Who Is John Galt?
28                                      Atragon
29                                 Babylon A.D.
..                                          ...
184                       The Stepford Husbands
185                        The Stepford Wives
186              The Strange World of Planet X
187                           The Subterraneans
188                                The Damned
189                 They Came from Beyond Space
190                                 The Thing
191                        The Thirteenth Floor
192                           This Island Earth
193                     The Three-Body Problem
194                          The Time Machine
195                   The Time Traveler's Wife
196                                  Timeline
197                                 Timescape
198                                 À ton image
199                          A Trip to the Moon
200                 The Tunnel Under the World
201              The Two Worlds of Jennie Logan
202                             The Ugly Swans
203                     Village of the Damned
204                       Village of the Giants
205                                     Vinyl
206                                     Virus
207                                        We
208                       When Worlds Collide
209                           Woman in the Moon
210                             World on a Wire
211        The World, the Flesh and the Devil
212                         A Wrinkle in Time
213                            Z for Zachariah

[214 rows x 1 columns]

In [48]:
booklist=[]
for movie in movie_data['Film Name']:
    film_name = movie.replace(' ', '+')
    url = 'https://www.goodreads.com/search?utf8=%E2%9C%93&query=' + str(film_name)+'&search_type=books'
    response = requests.get(url)
    soup = bs(response.text, 'lxml')
    for result in soup:
        try:
            title=soup.find('span',itemprop='name').text
            rating = soup.find('span', class_='minirating').text
            booklist.append([str(title.strip()), str(rating.strip())])
        except:
            pass
    
df_books = pd.DataFrame(booklist)
df_books

,0,1
0,Around the World in Eighty Days (Extraordinary...,"3.92 avg rating — 156,095 ratings"
1,Around the World in Eighty Days (Extraordinary...,"3.92 avg rating — 156,095 ratings"
2,Around the World in Eighty Days (Extraordinary...,"3.92 avg rating — 156,095 ratings"
3,Invasion of the Body Snatchers,"3.89 avg rating — 17,372 ratings"
4,Invasion of the Body Snatchers,"3.89 avg rating — 17,372 ratings"
5,Invasion of the Body Snatchers,"3.89 avg rating — 17,372 ratings"
6,Frankenstein,"3.77 avg rating — 992,097 ratings"
7,Frankenstein,"3.77 avg rating — 992,097 ratings"
8,Frankenstein,"3.77 avg rating — 992,097 ratings"
9,Invisible Man,"3.85 avg rating — 139,953 ratings"
10,Invisible Man,"3.85 avg rating — 139,953 ratings"
11,Invisible Man,"3.85 avg rating — 139,953 ratings"
12,Journey to the Center of the Earth (Extraordin...,"3.85 avg rating — 126,361 ratings"
13,Journey to the Center of the Earth (Extraordin...,"3.85 avg rating — 126,361 ratings"
14,Journey to the Center of the Earth (Extraordin...,"3.85 avg rating — 126,361 ratings"
15,"The Mysterious Island (Extraordinary Voyages, ...","4.10 avg rating — 38,405 ratings"
16,"The Mysterious Island (Extraordinary Voyages, ...","4.10 avg rating — 38,405 ratings"
17,"The Mysterious Island (Extraordinary Voyages, ...","4.10 avg rating — 38,405 ratings"
18,Nineteen Eighty-Four,"4.16 avg rating — 2,486,019 ratings"
19,Nineteen Eighty-Four,"4.16 avg rating — 2,486,019 ratings"
20,Nineteen Eighty-Four,"4.16 avg rating — 2,486,019 ratings"
21,Planet of the Apes,"3.93 avg rating — 28,719 ratings"
22,Planet of the Apes,"3.93 avg rating — 28,719 ratings"
23,Planet of the Apes,"3.93 avg rating — 28,719 ratings"
24,Twenty Thousand Leagues Under the Sea (Extraor...,"3.87 avg rating — 167,437 ratings"
25,Twenty Thousand Leagues Under the Sea (Extraor...,"3.87 avg rating — 167,437 ratings"
26,Twenty Thousand Leagues Under the Sea (Extraor...,"3.87 avg rating — 167,437 ratings"
27,Retirement Village of the Damned,3.17 avg rating — 6 ratings
28,Retirement Village of the Damned,3.17 avg rating — 6 ratings
29,Retirement Village of the Damned,3.17 avg rating — 6 ratings
...,...,...
567,The Village Schoolmaster,3.30 avg rating — 40 ratings
568,The Village Schoolmaster,3.30 avg rating — 40 ratings
569,The Village Schoolmaster,3.30 avg rating — 40 ratings
570,Vinyl (Vinyl #1),4.14 avg rating — 400 ratings
571,Vinyl (Vinyl #1),4.14 avg rating — 400 ratings
572,Vinyl (Vinyl #1),4.14 avg rating — 400 ratings
573,The Hot Zone: The Terrifying True Story of the...,"4.11 avg rating — 84,456 ratings"
574,The Hot Zone: The Terrifying True Story of the...,"4.11 avg rating — 84,456 ratings"
575,The Hot Zone: The Terrifying True Story of the...,"4.11 avg rating — 84,456 ratings"
576,All the Light We Cannot See,"4.33 avg rating — 751,711 ratings"
577,All the Light We Cannot See,"4.33 avg rating — 751,711 ratings"
578,All the Light We Cannot See,"4.33 avg rating — 751,711 ratings"
579,"When Worlds Collide (When Worlds Collide, #1)","3.91 avg rating — 1,847 ratings"
580,"When Worlds Collide (When Worlds Collide, #1)","3.91 avg rating — 1,847 ratings"
581,"When Worlds Collide (When Worlds Collide, #1)","3.91 avg rating — 1,847 ratings"
582,"Woman of the Sun, Woman of the Moon",3.57 avg rating — 23 ratings
583,"Woman of the Sun, Woman of the Moon",3.57 avg rating — 23 ratings
584,"Woman of the Sun, Woman of the Moon",3.57 avg rating — 23 ratings
585,Ghost in the Wires: My Adventures as the World...,"3.96 avg rating — 17,519 ratings"
586,Ghost in the Wires: My Adventures as the World...,"3.96 avg rating — 17,519 ratings"
587,Ghost in the Wires: My Adventures as the World...,"3.96 avg rating — 17,519 ratings"
588,"The World, the Flesh and the Devil",3.92 avg rating — 133 ratings
589,"The World, the Flesh and the Devil",3.92 avg rating — 133 ratings
590,"The World, the Flesh and the Devil",3.92 avg rating — 133 ratings
591,"A Wrinkle in Time (Time Quintet, #1)","4.02 avg rating — 829,546 ratings"
592,"A Wrinkle in Time (Time Quintet, #1)","4.02 avg rating — 829,546 ratings"
593,"A Wrinkle in Time (Time Quintet, #1)","4.02 avg rating — 829,546 ratings"
594,Z for Zachariah,"3.65 avg rating — 12,702 ratings"
595,Z for Zachariah,"3.65 avg rating — 12,702 ratings"
596,Z for Zachariah,"3.65 avg rating — 12,702 ratings"

In [54]:
new_books= df_books.drop_duplicates()
new_books.columns=['books','ratings']
new_books=new_books.reset_index(drop=True)

In [55]:
def strType(var):
    try:
        if int(var) == float(var):
            return 'int'
    except:
        try:
            float(var)
            return 'float'
        except:
            return 'str'
def getRating(sentence):
    words = sentence.split(' ')
    for word in words:
        if strType(word.replace(',','')) == 'float':
            return(float(word.replace(',','')))
def getNumReviews(sentence):
    words = sentence.split(' ')
    for word in words:
        if strType(word.replace(',','')) == 'int':
            return(int(word.replace(',','')))

In [56]:
ratings=[]
for i in new_books['ratings']:
    ratings.append([str(getRating(i)), str(getNumReviews(i))])

df=pd.DataFrame(ratings,columns=['rating','average_votes'])
df

    rating average_votes
0     3.92        156095
1     3.89         17372
2     3.77        992097
3     3.85        139953
4     3.85        126361
5      4.1         38405
6     4.16       2486019
7     3.93         28719
8     3.87        167437
9     3.17             6
10    3.81        206289
11    3.88          2996
12    4.08        338249
13    3.46            39
14    4.67             6
15    3.84          1779
16     0.0             0
17    3.65           926
18     3.6           653
19    4.14          3130
20     4.0             2
21    3.89        196536
22    3.91           549
23    3.67        116042
24    3.45            20
25    4.19          2349
26     0.0             0
27    3.35           486
28    4.25         45972
29    3.51         15360
..     ...           ...
164   4.02         28891
165    4.0        165863
166    1.0             1
167   2.75            12
168   3.74         24468
169    3.0             1
170   4.02         20606
171   3.38         42425
172   3.99         15317
173   4.29             7
174   3.66           135
175   4.05         81604
176   3.88        348539
177   3.96       1421801
178   3.84        171603
179   3.73          9501
180    2.0             4
181   3.81            81
182    3.9           400
183   4.31          1265
184    3.3            40
185   4.14           400
186   4.11         84456
187   4.33        751711
188   3.91          1847
189   3.57            23
190   3.96         17519
191   3.92           133
192   4.02        829546
193   3.65         12702

[194 rows x 2 columns]

In [58]:
result = pd.concat([new_books,df],axis=1,sort=False)
final=result.drop(['ratings'],axis=1)
final

                                                 books rating average_votes
0    Around the World in Eighty Days (Extraordinary...   3.92        156095
1                       Invasion of the Body Snatchers   3.89         17372
2                                         Frankenstein   3.77        992097
3                                        Invisible Man   3.85        139953
4    Journey to the Center of the Earth (Extraordin...   3.85        126361
5    The Mysterious Island (Extraordinary Voyages, ...    4.1         38405
6                                 Nineteen Eighty-Four   4.16       2486019
7                                   Planet of the Apes   3.93         28719
8    Twenty Thousand Leagues Under the Sea (Extraor...   3.87        167437
9                     Retirement Village of the Damned   3.17             6
10                               The War of the Worlds   3.81        206289
11                            Escape to Witch Mountain   3.88          2996
12                     The 5th Wave (The 5th Wave, #1)   4.08        338249
13                                        The 27th Day   3.46            39
14                      2010: The Year We Make Contact   4.67             6
15                        20,000 Leagues Under the Sea   3.84          1779
16                                      Action Replayy    0.0             0
17                                              Aelita   3.65           926
18               Altered States (Altered States, #0.5)    3.6           653
19                                       The Amphibian   4.14          3130
20                                    Andromeda Nebula    4.0             2
21                                The Andromeda Strain   3.89        196536
22                          Anna to the Infinite Power   3.91           549
23                   Annihilation (Southern Reach, #1)   3.67        116042
24       Atlas Shrugged (SparkNotes Literature Guides)   3.45            20
25                              Atlas Shrugged, Part A   4.19          2349
26                                             Atragon    0.0             0
27                                        Babylon A.D.   3.35           486
28                                       Battle Royale   4.25         45972
29          Battlefield Earth: A Saga of the Year 3000   3.51         15360
..                                                 ...    ...           ...
164  Stalking Jack the Ripper (Stalking Jack the Ri...   4.02         28891
165                                  Starship Troopers    4.0        165863
166  Articles on Films Based on IRA Levin's Works, ...    1.0             1
167                                  Stepford Husbands   2.75            12
168                                 The Stepford Wives   3.74         24468
169                      The Strange World of Planet X    3.0             1
170                                       Subterranean   4.02         20606
171                                Damned (Damned, #1)   3.38         42425
172                      Sweet Thing (Sweet Thing, #1)   3.99         15317
173              The Prisoners of the Thirteenth Floor   4.29             7
174                                  This Island Earth   3.66           135
175  The Three-Body Problem (Remembrance of Earth’s...   4.05         81604
176                                   The Time Machine   3.88        348539
177                           The Time Traveler's Wife   3.96       1421801
178                                           Timeline   3.84        171603
179                                          Timescape   3.73          9501
180                                        À ton image    2.0             4
181               Moonwalk: The First Trip to the Moon   3.81            81
182                         The Tunnel Under the World    3.9           400
183                                     The Ugly Swans   4.31          1265
184                           The Village Schoolmaster    3.3            40
185                                   Vinyl (Vinyl #1)   4.14           400
186  The Hot Zone: The Terrifying True Story of the...   4.11         84456
187                        All the Light We Cannot See   4.33        751711
188      When Worlds Collide (When Worlds Collide, #1)   3.91          1847
189                Woman of the Sun, Woman of the Moon   3.57            23
190  Ghost in the Wires: My Adventures as the World...   3.96         17519
191                 The World, the Flesh and the Devil   3.92           133
192               A Wrinkle in Time (Time Quintet, #1)   4.02        829546
193                                    Z for Zachariah   3.65         12702

[194 rows x 3 columns]

In [60]:
final.to_csv('booklist_ratings.csv')